Template2025/.vs/OpenGLTemplate/v17/Browse.VC.db-shm
Template2025/.vs/OpenGLTemplate/FileContentIndex/72e2903f-9cd3-4897-b142-6594051b8850.vsidx
Template2025/.vs/OpenGLTemplate/FileContentIndex/8bfc8748-dc53-4415-98b1-02d67f00f809.vsidx
Template2025/.vs/OpenGLTemplate/FileContentIndex/aca0cdf3-9dbf-401e-9df8-bc533abe6057.vsidx
Template2025/.vs/OpenGLTemplate/FileContentIndex/b646154a-59ce-443d-a9e9-202e59fdc024.vsidx
Template2025/.vs/OpenGLTemplate/FileContentIndex/b646154a-59ce-443d-a9e9-202e59fdc024.vsidx
Template2025/.vs/OpenGLTemplate/FileContentIndex/b909b7c7-10fa-4ffd-a4e3-ba551fdc2890.vsidx
Template2025/.vs/OpenGLTemplate/v17/Browse.VC.db
Template2025/.vs/OpenGLTemplate/v17/Browse.VC.db-wal
Template2025/.vs/OpenGLTemplate/v17/Browse.VC.opendb
Template2025/.vs/OpenGLTemplate/v17/DocumentLayout.backup.json
Template2025/.vs/OpenGLTemplate/v17/ipch/AutoPCH/2b787c450ae5ba74/PLANE.ipch
Template2025/.vs/OpenGLTemplate/v17/ipch/AutoPCH/42f157aaadbeb6d9/OCTAHEDRON.ipch
Template2025/.vs/OpenGLTemplate/v17/ipch/AutoPCH/946302c5bac413e1/SPHERE.ipch
Template2025/.vs/OpenGLTemplate/v17/ipch/AutoPCH/b3b0c4e03bbd8a6a/GAME.ipch
Template2025/.vs/OpenGLTemplate/v17/ipch/AutoPCH/e65a4840b2e612f6/OPENASSETIMPORTMESH.ipch
Template2025/OpenGLTemplate/OpenGLTemplate.vcxproj.filters
Template2025/OpenGLTemplate/OpenGLTemplate.vcxproj
Template2025/.vs/OpenGLTemplate/v17/DocumentLayout.json
Template2025/OpenGLTemplate/x64/Debug/Audio.obj
Template2025/OpenGLTemplate/x64/Debug/Camera.obj
Template2025/OpenGLTemplate/x64/Debug/Cubemap.obj
Template2025/OpenGLTemplate/x64/Debug/FreeTypeFont.obj
Template2025/OpenGLTemplate/x64/Debug/Game.obj
Template2025/OpenGLTemplate/x64/Debug/GameWindow.obj
Template2025/OpenGLTemplate/x64/Debug/HighResolutionTimer.obj
Template2025/OpenGLTemplate/x64/Debug/MatrixStack.obj
Template2025/OpenGLTemplate/x64/Debug/Octahedron.obj
Template2025/OpenGLTemplate/x64/Debug/OpenAssetImportMesh.obj
Template2025/OpenGLTemplate/OpenGLTemplate.vcxproj.filters
Template2025/OpenGLTemplate/x64/Debug/OpenGLTemplate.exe.recipe
Template2025/OpenGLTemplate/x64/Debug/OpenGLTemplate.ilk
Template2025/OpenGLTemplate/x64/Debug/OpenGLTemplate.tlog/CL.command.1.tlog
Template2025/OpenGLTemplate/x64/Debug/OpenGLTemplate.tlog/Cl.items.tlog
Template2025/OpenGLTemplate/x64/Debug/OpenGLTemplate.tlog/CL.read.1.tlog
Template2025/OpenGLTemplate/x64/Debug/OpenGLTemplate.tlog/CL.write.1.tlog
Template2025/OpenGLTemplate/x64/Debug/OpenGLTemplate.tlog/link.read.1.tlog
Template2025/OpenGLTemplate/x64/Debug/OpenGLTemplate.tlog/link.write.1.tlog
Template2025/OpenGLTemplate/x64/Debug/Plane.obj
Template2025/OpenGLTemplate/x64/Debug/Skybox.obj
Template2025/OpenGLTemplate/x64/Debug/Shaders.obj
Template2025/OpenGLTemplate/x64/Debug/Texture.obj
Template2025/OpenGLTemplate/x64/Debug/Sphere.obj
Template2025/OpenGLTemplate/x64/Debug/vc143.pdb
Template2025/OpenGLTemplate/x64/Debug/VertexBufferObject.obj
Template2025/Template2025/
Template2025/x64/Debug/OpenGLTemplate.exe
Template2025/OpenGLTemplate/x64/Debug/VertexBufferObjectIndexed.obj
Template2025/OpenGLTemplate/x64/Debug/vc143.idb
Template2025/OpenGLTemplate/x64/Debug/OpenGLTemplate.tlog/OpenGLTemplate.lastbuildstate
Template2025/OpenGLTemplate/x64/Debug/OpenGLTemplate.tlog/link.secondary.1.tlog
Template2025/x64/Debug/OpenGLTemplate.exp
Template2025/OpenGLTemplate/x64/Debug/OpenGLTemplate.tlog/link.command.1.tlog
*.lib
*.pdb
*.recipe
Template2025/.vs/OpenGLTemplate/v17/Browse.VC.db
Template2025/.vs/OpenGLTemplate/v17/.suo
Template2025/.vs/OpenGLTemplate/FileContentIndex/b646154a-59ce-443d-a9e9-202e59fdc024.vsidx
Template2025/.vs/OpenGLTemplate/FileContentIndex/e8cbae85-96a2-40e7-8c41-6c8d40b522df.vsidx
Template2025/.vs/OpenGLTemplate/v17/Browse.VC.db
*.db
